# Data Exploration

In [9]:
import os
import pandas as pd
import settings

In [21]:
df = pd.read_csv(os.path.join(settings.data_dir, 'pop_by_country_long_form.csv'))
df['Year'] = df['Year'].str[4:].astype(int)
df.head()

            Nation  Year        Pop
0    North America  1980  320.27638
1          Bermuda  1980    0.05473
2        Argentina  1980    28.3698
3  Former U.S.S.R.  1980  265.92182
4          Georgia  1980         --

In [28]:
df.Nation.drop_duplicates().values

array(['North America', 'Bermuda', 'Argentina', 'Former U.S.S.R.',
       'Georgia', 'Kazakhstan', 'Kyrgyzstan', 'Latvia', 'Lithuania',
       'Moldova', 'Russia', 'Tajikistan', 'Turkmenistan', 'Aruba',
       'Ukraine', 'Uzbekistan', 'Middle East', 'Bahrain', 'Iran', 'Iraq',
       'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Bahamas, The', 'Oman',
       'Palestine', 'Qatar', 'Saudi Arabia', 'Syria',
       'United Arab Emirates', 'Yemen', 'Africa', 'Algeria', 'Angola',
       'Barbados', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi',
       'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad',
       'Comoros', 'Congo (Brazzaville)', 'Belize', 'Congo (Kinshasa)',
       'Cote dIvoire (IvoryCoast)', 'Djibouti', 'Egypt',
       'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia, The',
       'Ghana', 'Bolivia', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho',
       'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania',
       'Brazil', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger',
       'Nigeria', 'Reunion', 'Rwanda', 'Saint Helena',
       'Sao Tome and Principe', 'Cayman Islands', 'Senegal', 'Seychelles',
       'Sierra Leone', 'Somalia', 'South Africa', 'Sudan', 'Swaziland',
       'Tanzania', 'Togo', 'Tunisia', 'Chile', 'Uganda', 'Western Sahara',
       'Zambia', 'Zimbabwe', 'Asia & Oceania', 'Afghanistan',
       'American Samoa', 'Australia', 'Bangladesh', 'Bhutan', 'Colombia',
       'Brunei', 'Burma (Myanmar)', 'Cambodia', 'China', 'Cook Islands',
       'Fiji', 'French Polynesia', 'Guam', 'Hawaiian Trade Zone',
       'Hong Kong', 'Canada', 'Costa Rica', 'India', 'Indonesia', 'Japan',
       'Kiribati', 'Korea, North', 'Korea, South', 'Laos', 'Macau',
       'Malaysia', 'Maldives', 'Cuba', 'Mongolia', 'Nauru', 'Nepal',
       'New Caledonia', 'New Zealand', 'Niue', 'Pakistan',
       'Papua New Guinea', 'Philippines', 'Samoa', 'Dominica', 'Singapore',
       'Solomon Islands', 'Sri Lanka', 'Taiwan', 'Thailand',
       'Timor-Leste (East Timor)', 'Tonga', 'U.S. Pacific Islands',
       'Vanuatu', 'Vietnam', 'Dominican Republic', 'Wake Island', 'World',
       'Ecuador', 'El Salvador', 'Falkland Islands (Islas Malvinas)',
       'French Guiana', 'Grenada', 'Guadeloupe', 'Greenland', 'Guatemala',
       'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Martinique',
       'Montserrat', 'Netherlands Antilles', 'Nicaragua', 'Panama',
       'Mexico', 'Paraguay', 'Peru', 'Puerto Rico',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent/Grenadines',
       'Suriname', 'Trinidad and Tobago', 'Turks and Caicos Islands',
       'Uruguay', 'Saint Pierre and Miquelon', 'Venezuela',
       'Virgin Islands,  U.S.', 'Virgin Islands, British', 'Europe',
       'Albania', 'Austria', 'Belgium', 'Bosnia and Herzegovina',
       'Bulgaria', 'Croatia', 'United States', 'Cyprus', 'Czech Republic',
       'Denmark', 'Faroe Islands', 'Finland', 'Former Czechoslovakia',
       'Former Serbia and Montenegro', 'Former Yugoslavia', 'France',
       'Germany', 'Central & South America', 'Germany, East',
       'Germany, West', 'Gibraltar', 'Greece', 'Hungary', 'Iceland',
       'Ireland', 'Italy', 'Luxembourg', 'Macedonia', 'Antarctica',
       'Malta', 'Montenegro', 'Netherlands', 'Norway', 'Poland',
       'Portugal', 'Romania', 'Serbia', 'Slovakia', 'Slovenia',
       'Antigua and Barbuda', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom', 'Eurasia', 'Armenia', 'Azerbaijan', 'Belarus',
       'Estonia'], dtype=object)

In [78]:
nation = 'United States'
df2 = df.groupby(['Year', 'Nation']).sum().unstack()
df2.columns = df2.columns.droplevel()#[nation]
df2[[nation]].rename(columns={'United States':'Series', 'Year':'Values'}).to_json?

Object `to_json` not found.

In [ ]:
df2[[nation]].rename(columns={'United States':'Series', 'Year':'Values'}).to_json

In [97]:
f'labels:{df2.index.astype(int).tolist()}, series: [{df2[nation].astype(float).tolist()}]'

'labels:[1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]\nseries: [227.22468, 229.46571, 231.66446, 233.79199, 235.8249, 237.9238, 240.13289, 242.28892, 244.49898, 246.81923, 249.62281, 252.98094, 256.51422, 259.91859, 263.12582, 266.27839, 269.39428, 272.64693, 275.8541, 279.04017, 282.17196, 285.08156, 287.80391, 290.32642, 293.04574, 295.75315, 298.59321, 301.5799, 304.37485, 307.00655, 310.23286]'